[
    {
        "name" : "test_aes",
        "files" : [
            "lib/source/aes_decrypt.c",
            "lib/source/aes_encrypt.c",
            "lib/source/utils.c",
            "tests/test_aes.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS",
        "raw_options": {
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_cbc_mode",
        "files" : [
            "lib/source/aes_decrypt.c",
            "lib/source/aes_encrypt.c",
            "lib/source/cbc_mode.c",
            "lib/source/utils.c",
            "tests/test_cbc_mode.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS",
        "raw_options": {
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_ccm_mode",
        "files" : [
            "lib/source/aes_encrypt.c",
            "lib/source/ccm_mode.c",
            "lib/source/utils.c",
            "tests/test_ccm_mode.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS",
        "raw_options": {
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_cmac_mode",
        "files" : [
            "lib/source/aes_encrypt.c",
            "lib/source/cmac_mode.c",
            "lib/source/utils.c",
            "tests/test_cmac_mode.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS",
        "raw_options": {
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_ctr_mode",
        "files" : [
            "lib/source/aes_encrypt.c",
            "lib/source/ctr_mode.c",
            "lib/source/utils.c",
            "tests/test_ctr_mode.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS",
        "raw_options": {
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_ctr_prng",
        "files" : [
            "lib/source/aes_encrypt.c",
            "lib/source/ctr_prng.c",
            "lib/source/utils.c",
            "tests/test_ctr_prng.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS",
        "raw_options": {
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_ecc_dh : cavp_ecdh",
        "files" : [
            "lib/source/ecc.c",
            "lib/source/ecc_dh.c",
            "lib/source/ecc_platform_specific.c",
            "tests/test_ecc_utils.c",
            "tests/test_ecc_dh.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -Ilib/include/tinycrypt/ -DENABLE_TESTS -DTEST_cavp_ecdh",
        "filesystem": {
            "files": [
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                }
            ]
        },
        "raw_options": {
            "-no-results": "true",
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_ecc_dh : cavp_keygen",
        "files" : [
            "lib/source/ecc.c",
            "lib/source/ecc_dh.c",
            "lib/source/ecc_platform_specific.c",
            "tests/test_ecc_utils.c",
            "tests/test_ecc_dh.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -Ilib/include/tinycrypt/ -DENABLE_TESTS -DTEST_cavp_keygen",
        "filesystem": {
            "files": [
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                }
            ]
        },
        "raw_options": {
            "-no-results": "true",
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_ecc_dh : cavp_pkv",
        "files" : [
            "lib/source/ecc.c",
            "lib/source/ecc_dh.c",
            "lib/source/ecc_platform_specific.c",
            "tests/test_ecc_utils.c",
            "tests/test_ecc_dh.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -Ilib/include/tinycrypt/ -DENABLE_TESTS -DTEST_cavp_pkv",
        "filesystem": {
            "files": [
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                }
            ]
        },
        "raw_options": {
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_ecc_dh : montecarlo_ecdh",
        "files" : [
            "lib/source/ecc.c",
            "lib/source/ecc_dh.c",
            "lib/source/ecc_platform_specific.c",
            "tests/test_ecc_utils.c",
            "tests/test_ecc_dh.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -Ilib/include/tinycrypt/ -DENABLE_TESTS -DTEST_montecarlo_ecdh",
        "filesystem": {
            "files": [
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                }
            ]
        },
        "raw_options": {
            "-no-results": "true",
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_ecc_dsa : cavp_sign",
        "files" : [
            "lib/source/ecc.c",
            "lib/source/ecc_dh.c",
            "lib/source/ecc_dsa.c",
            "lib/source/ecc_platform_specific.c",
            "lib/source/sha256.c",
            "lib/source/utils.c",
            "tests/test_ecc_dsa.c",
            "tests/test_ecc_utils.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS -DTEST_cavp_sign",
        "filesystem": {
            "files": [
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                }
            ]
        },
        "raw_options": {
            "-no-results": "true",
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_ecc_dsa : cavp_verify",
        "files" : [
            "lib/source/ecc.c",
            "lib/source/ecc_dh.c",
            "lib/source/ecc_dsa.c",
            "lib/source/ecc_platform_specific.c",
            "lib/source/sha256.c",
            "lib/source/utils.c",
            "tests/test_ecc_dsa.c",
            "tests/test_ecc_utils.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS -DTEST_cavp_verify",
        "filesystem": {
            "files": [
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                }
            ]
        },
        "raw_options": {
            "-no-results": "true",
            "-val-timeout": "10800"
        }
    },


    {
        "name" : "test_ecc_dsa : montecarlo_signverify",
        "files" : [
            "lib/source/ecc.c",
            "lib/source/ecc_dh.c",
            "lib/source/ecc_dsa.c",
            "lib/source/ecc_platform_specific.c",
            "lib/source/sha256.c",
            "lib/source/utils.c",
            "tests/test_ecc_dsa.c",
            "tests/test_ecc_utils.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS -DTEST_montecarlo_signverify",
        "filesystem": {
            "files": [
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                }
            ]
        },
        "raw_options": {
            "-no-results": "true",
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_hmac",
        "files" : [
            "lib/source/hmac.c",
            "lib/source/sha256.c",
            "lib/source/utils.c",
            "tests/test_hmac.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS",
        "raw_options": {
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_hmac_prng",
        "files" : [
            "lib/source/hmac.c",
            "lib/source/hmac_prng.c",
            "lib/source/sha256.c",
            "lib/source/utils.c",
            "tests/test_hmac_prng.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS",
        "raw_options": {
            "-val-timeout": "10800"
        }
    },

    {
        "name" : "test_sha256 (without memory and computation intensive test cases 13 and 14)",
        "files" : [
            "lib/source/sha256.c",
            "lib/source/utils.c",
            "tests/test_sha256.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS",
        "raw_options": {
            "-no-results": "true",
            "-val-timeout": "10800"
        }
    }
]
